body {
	font-family: Arial, sans-serif;
	line-height: 1.6;
	margin: 0;
	padding: 0;
	color: #183e4b;
	background-color: #8ba0a4;
}

.container {
	max-width: 100%;
	margin: 20px auto;
	padding: 20px;
	background: #eaeaea;
	border-radius: 8px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1, h2 {
	color: #183e4b;
}

.header {
	text-align: center;
}

.header h1 {
	margin: 10px 0;
}

.contact {
	margin: 10px 0;
	font-size: 14px;
	text-align: center;
}

.contact a {
	color: #183e4b;
}

.section {
	margin: 20px 0;
}

.section h2 {
	margin-bottom: 10px;
	border-bottom: 2px solid #183e4b;
	padding-bottom: 5px;
}

.item {
	margin-bottom: 15px;
}

.item h3 {
	margin: 0;
	font-size: 18px;
	color: #183e4b;
}

.item p {
	margin: 5px 0;
	font-size: 14px;
}

.skills ul {
	list-style: none;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	gap: 0.5em;
	justify-content: center;
}

.skills ul li {
	background: #1b4552;
	color: #fff;
	padding: 5px 10px;
	border-radius: 4px;
}

.button {
	display: inline-block;
	background-color: #1b4552;
	color: #eaeaea;
	text-decoration: none;
	border: none;
	border-radius: 10px;
	margin: 0.5em;
	padding: 1em;
}

.projects-button {
	text-align: center;
}

@media (min-width: 768px) {
	body {
	font-family: Arial, sans-serif;
	line-height: 1.6;
	margin: 0;
	padding: 0;
	color: #183e4b;
	background-color: #8ba0a4;
	}
	.container {
		max-width: 800px;
		margin: 20px auto;
		padding: 20px;
		background: #eaeaea;
		border-radius: 8px;
		box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	}
	h1, h2 {
		color: #183e4b;
	}
	.header {
		text-align: center;
	}
	.header h1 {
		margin: 10px 0;
	}
	.contact {
		margin: 10px 0;
		font-size: 14px;
	}
	.contact a {
		color: #183e4b;
	}
	.section {
		margin: 20px 0;
	}
	.section h2 {
		margin-bottom: 10px;
		border-bottom: 2px solid #183e4b;
		padding-bottom: 5px;
	}
	.item {
		margin-bottom: 15px;
	}
	.item h3 {
		margin: 0;
		font-size: 18px;
		color: #183e4b;
	}
	.item p {
		margin: 5px 0;
		font-size: 14px;
	}
	.skills ul {
		list-style: none;
		padding: 0;
	}
	.skills ul li {
		display: inline-block;
		background: #1b4552;
		color: #fff;
		padding: 5px 10px;
		margin: 5px 5px 5px 0;
		border-radius: 4px;
	}

	.button {
		display: inline-block;
		background-color: #1b4552;
		color: #eaeaea;
		text-decoration: none;
		border: none;
		border-radius: 10px;
		margin: .5em;
		padding: 1em;
		margin-bottom: 0;
	}

	.projects-button {
		text-align: center;
	}
}
